@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";

*{
    font-family: "Outfit", sans-serif;
}

@theme{
    --color-primary: #5044E5;
}

.rest-tw, .reset-tw *{
    all:revert !important;
}

.cl-drawerRoot{
    z-index: 10;
}